body {
	min-height: 100vh;
}

.flex-fill {
	flex: 1 1 auto;
}

footer {
	background-color: #f5f5f5;
}

.card-header .fa {
	transition: 0.3s transform ease-in-out;
}

.card-header .collapsed .fa {
	transform: rotate(90deg);
}

#formula-header,
#formula-header:hover,
#code-header,
#code-header:hover {
	color: black;
	text-decoration: none !important;
}

.katex {
	font-size: 1em;
	overflow-x: auto;
	overflow-y: hidden;
}

.btn-group {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.variable {
	font-size: 1.2em;
}

.formula {
	font-size: 1.5em;
}

.rounded {
	background-color: #F7F7F7;
	border-radius: 5%;
}

.navLink,
.navLink:hover,
.navLink:focus,
#homeButton,
#homeButton:hover,
#homeButton:focus{
	color: white;
	text-decoration: none !important;
}
